body,
html {
    height: 100%;
    background-color: bisque;
    overflow: hidden;
    text-align: center;
}

#title {
    color: cadetblue;
    margin: auto;
    width: 50%;
    margin-top: 2vh;
    font-size: 8vw;
}

#timer {
    color: cadetblue;
    /*margin: auto;
    margin-top: 15vh;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

#buttons {
    border-radius: 10px;
}

#test {
    position: relative;
}

#start,
#stop,
#reset {
    border-radius: 10px;
    border-width: 10px;
    background-color: cornsilk;
    border-color: cornsilk;
    inline-size: 20vw;
    height: 60px;
    position: absolute;
    /*margin: auto;
    margin-inline: 5vw;*/
    bottom: 10%;
}

#start {

    left: 10vw;
}

#reset {
    right: 10vw
}

#stop {
    right: 40vw;
}