body,
html {
    height: 100%;
    background-color: rgb(41, 40, 40);
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
}

#title {
    color: cadetblue;
    margin: auto;
    width: 50%;
    margin-top: 2vh;
    font-size: 6vw;
}

#timer {
    color: cadetblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
}

#start,
#stop,
#reset {
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    border-width: 3px;
    font-size: 150%;
    background-color: cadetblue;
    border-color: cadetblue;
    inline-size: 20vw;
    height: 60px;
    position: absolute;
    bottom: 10%;
}

#start {
    left: 10vw;
}

#reset {
    right: 10vw
}

#stop {
    right: 40vw;
}